<% include partials/head %>
<% include partials/nav %>
  
  <div id="hero-image">
    <h1 id="hero-title"><%= title %></h1>
  </div>

  <div id="setting-wrapper" class="container">
    <p>
    The Star Wars franchise depicts the adventures of characters "A long time ago in a galaxy far, far away....", in which many species of aliens (often humanoid) co-exist with droids who may assist them in their daily routines, and space travel between planets is common due to hyperspace technology. The rises and falls of different governments are chronicled throughout the saga: the democratic Republic is corrupted and overthrown by the Galactic Empire, which is fought by the Rebel Alliance. The Rebellion later gives rise to the New Republic and rebuilds society, but the remnants of the Empire reform as the First Order and attempt to destroy the Republic. Heroes of the former rebellion lead the Resistance against the oppressive dictatorship.
    </p>
    <p>
    A mystical power known as "the Force" is described in the original film as "an energy field created by all living things ... that binds the galaxy together." Those whom "the Force is strong with" have quick reflexes; through training and meditation, they are able to perform various superpowers (such as telekinesis, precognition, telepathy, and manipulation of physical energy). The Force is wielded by two major knighthood orders at conflict with each other: the Jedi, who act on the light side of the Force through non-attachment and arbitration, and the Sith, who use the dark side through fear and aggression. The latter's members are intended to be limited to two: a master and their apprentice.
    </p>  
  </div>

  <div id="posters-wrapper" class="content-padding clearfix">

    <% for(let i = 0; i < movies.length; i++) { %>
    <div class="poster">

      <a href="/star_wars_episode/<%= movies[i].episode_number %>">

        <img src="/images/<%= movies[i].poster %>" class="img-fluid rounded shadow" alt="Star Wars movie poster">

        <div class="poster-info-overlay">
          <h3><%= movies[i].title %></h3>
          <h4>View More <i class="fas fa-arrow-right"></i></h4>
        </div>
      </a>
    </div>
    <% }  %>

  </div>

<% include partials/footer %>